@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Reddit+Mono:wght@200..900&display=swap");

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family:
    "Momo Trust Display", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  min-height: 100vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}
